#how-it-works {
  padding: 3rem 0;
  background: #f8f9fa;
  text-align: center;

  h2 {
    margin-bottom: 3rem;
  }

  .flex > div {
    width: 30%;
  }

  h4 {
    color: #343a40;
    margin-top: 1rem;
  }

  span.fas {
    color: #f69314;
    font-size: 35px;
  }
}
