#the-best {
  margin: 2rem 0;

  .flex > img {
    width: 47%;
  }

  .flex > div {
    width: 40%;
  }

  ul {
    padding-left: 20px;
    margin-bottom: 4rem;
  }

  ul li {
    margin: 10px 0;
  }
}
