@import url('https://fonts.googleapis.com/css?family=ource+Serif+Pro|Lato&display=swap');

* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Sans-serif';
  font-size: 1rem;
  color: #777;
  line-height: 1.7;
}

*:not(.slick-track):not(.slick-list) {
  transition: 0.4s;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

button.rounded {
  background: #f69314;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
  line-height: 1.5;
  cursor: pointer;
}
